.admin-navbar {
  display: flex;
  gap: 20px;
  padding: 10px;
  background-color: #e1e1e1;
  border-bottom: 1px solid #ccc;
  justify-content: center;
  margin-bottom: 20px;
}

.admin-navbar a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.admin-navbar a:hover {
  color: #007bff;
}
